.menu-icon {
  align-items: flex-start;
  background-color: var(--ziggurat);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: fit-content;
  border: none;
}

.rectangle {
  background-color: var(--blue-dianne);
  border-radius: 43.48px;
  height: 4.8px;
  min-width: 40px;
  position: relative;
}

