@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Montserrat&display=swap');

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

html, body, #root, .app, .content {
	height: 100%;
	width: 100%;
	font-family: "Montserrat", sans-serif;
}

.app {
	display: flex;
	position: relative;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle hover */
::-webkit-scrollbar-track:hover {
	background: #555;
}

.store-logo {
	width: 9rem;
	height: 6rem;
	border-radius: 10px;
	margin-bottom: 2vh;
}

.product-logo {
	width: 15rem;
	height: 10rem;
	border-radius: 10px;
	margin: 0 5vh 2vh 0;
}

.product-image {
	cursor: pointer;
	filter: brightness(100%);
	transition: filter 1s ease;
}

.product-image:hover {
	filter: brightness(75%);
}

.subscribe-popup-title-background-gradient {
	background: linear-gradient(to right, #D40000, #e46318, #D40000);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
}