:root {
  --alice-blue: #eff9ff;
  --black: #000000;
  --blue-dianne: #204257;
  --ziggurat: #bdd1de;
  --firefly: #1c2a33;
  --white: #ffffff;

  --font-size-xxl: 45px;
  --font-size-xl: 30px;
  --font-size-l: 10vmax;
  --font-size-m: 20px;
  --font-size-s: 15px;
 
  --font-family-aladin: "Aladin", Helvetica;
  --font-family-inter-semibold: "Inter-SemiBold", Helvetica;
  --font-family-montserrat: "Montserrat", Helvetica;

}

.aladin-normal-alice-blue-20px {
  color: var(--alice-blue);
  font-family: var(--font-family-aladin);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.montserrat-bold-blue-dianne-20px {
  color: var(--blue-dianne);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}
