.sidebar {
  align-items: center;
  background-color: var(--blue-dianne);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 34px;
  min-width: 120px;
  padding: 30px 12px;
  position: relative;
}

.button-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: fit-content;
}

.button {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.cart-icon {
  height: 42.86px;
  min-width: 60px;
  position: relative;
  transform: rotate(180deg);
}

.overlap-group {
  height: 47px;
  position: relative;
  top: -3px;
  width: 62px;
}

.icon-cart {
  height: 47px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 55px;
}

.handle {
  height: 3px;
  left: 48px;
  position: absolute;
  top: 44px;
  transform: rotate(-180deg);
  width: 14px;
}

.wheel-track {
  height: 3px;
  left: 14px;
  position: absolute;
  top: 6px;
  transform: rotate(-180deg);
  width: 33px;
}

.rear-wheel {
  border: 7px solid;
  border-color: var(--ziggurat);
  border-radius: 4.21px/3.63px;
  height: 7px;
  left: 41px;
  position: absolute;
  top: 3px;
  width: 8px;
}

.front-wheel {
  border: 7px solid;
  border-color: var(--ziggurat);
  border-radius: 4.21px/3.63px;
  height: 7px;
  left: 11px;
  position: absolute;
  top: 3px;
  width: 8px;
}

.my-cart,
.favorites,
.deals {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 96px;
}

.icon-star {
  height: 46.87px;
  margin-top: -0.76px;
  min-width: 56.88px;
  position: relative;
}

.deal-tag {
  height: 42.86px;
  min-width: 60px;
  position: relative;
}

.overlap-group-1 {
  align-items: flex-start;
  background-image: url(../../../images/sidebar/rectangle-30.svg);
  background-size: 100% 100%;
  display: flex;
  height: 37px;
  justify-content: flex-end;
  left: 1px;
  min-width: 55px;
  padding: 7.4px 5.1px;
  position: relative;
  top: 5px;
}

.ellipse-7 {
  background-color: var(--blue-dianne);
  border-radius: 4.81px/4.66px;
  height: 9px;
  width: 10px;
}

